{% extends "auctions/layout.html" %}


<!-- title -->
{% block title %}
{% include 'auctions/reusable/module_title.html' with title='Active Listings' %}
{% endblock %}
<!-- user menu -->
{% block user_menu %}
{% if user.is_authenticated %}
<li><a href="{% url 'add_listing' %}"><button class="btn btn-primary">Add item</button></a></li>
{% endif %}
{% endblock %}
<!-- body -->
{% block body %}
<ul class="list-unstyled mx-auto">
    {% for listing in listings %}
    <a href="{% url 'listing' listing.id %}" class="text-decoration-none text-dark">
        {% include 'auctions/reusable/auction_item.html' with listing=listing %}
    </a>
    {% endfor %}
</ul>
{% endblock %}